{% extends "base_bootstrap.html" %}

{% block content %}
  <h1>Auto List</h1>
  {% if auto_list %}
  <ul class="list-group mb-3">
    {% for auto in auto_list %}
      <li class="list-group-item">
          {{ auto.nickname }} ({{ auto.make }})
          (<a href="{% url 'autos:auto_update' auto.id %}">Update</a> |
          <a href="{% url 'autos:auto_delete' auto.id %}">Delete</a>) <br/>
          {{ auto.comments }} ({{ auto.mileage }} miles)
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no autos in the library.</p>
  {% endif %}
  <p>
    {% if make_count > 0 %}
      <a href="{% url 'autos:auto_create' %}" class="btn btn-success">Add an auto</a>
    {% else %}
      Please add a make before you add an auto.
    {% endif %}
  </p>
  <p>
      <a href="{% url 'autos:make_list' %}" class="btn btn-dark">View makes <span class="badge badge-pill badge-primary">({{ make_count }})</span></a>
      <a href="{% url 'autos:make_create' %}" class="btn btn-success">Add a make</a>
  </p>
{% endblock %}